﻿@model IEnumerable<ProyectoSMP.Models.ConsultarUsuarios_Result>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista de Usuarios</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Lista de Usuarios</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> @Html.ActionLink("Nuevo Usuario", "Create")</h6>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @Html.ActionLink("Ver todos", "Todos") | @Html.ActionLink("Generar reporte", "Print")
                    <hr />
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>
                                <h7>Identificación</h7>
                            </th>
                            <th>
                                <h7>Tipo de Identificación</h7>
                            </th>
                            <th>
                                <h7>Nombre</h7>
                            </th>
                            <th>
                                <h7>Correo</h7>
                            </th>
                            <th>
                                <h7>Cargo</h7>
                            </th>
                            <th>
                                <h7>Provincia</h7>
                            </th>
                            <th>
                                <h7>Cantón</h7>
                            </th>
                            <th>
                                <h7>Distrito</h7>
                            </th>
                            <th>
                                <h7>Rol</h7>
                            </th>
                            <th>
                                <h7>Estado</h7>
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCarga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distrito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                @Html.Label("Activo") }
            else
            {
                @Html.Label("Inactivo")}
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario })
                        |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario })
                    </td>
                </tr>
}
                    </table>

                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

</body>

</html>
