﻿@model ProyectoSMP.Models.ViewModels.RecoveryPasswordViewModel
@{ ViewBag.Title = "Recovery";
                Layout = null; }
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SMPrats! | </title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <h1>SMPrats</h1>
            <h2>Recuperar su contraseña</h2>
            <hr />
            <form action="@Url.Content("~/Login/Recovery")" method="post">
                @Html.HiddenFor(d => d.token)
                
                <h4>Escribe tu nueva contraseña</h4>
                @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, null, new { style = "color:red;" })

                <h4>vuelve a escribir contraseña</h4>
                @Html.PasswordFor(d => d.Password2, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password2, null, new { style = "color:red;" })
                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>

            </form>
        </div>
    </div>
</div>
