﻿@model ProyectoSMP.Models.TipoDeIdentificacion

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Create"; }

<h2>Crear</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tipo de Identificación</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("IdTipoIdentificacion", 0)

    <div class="item form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion,"Descripción", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <hr />
    <div>
        <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Regresar", "Index")</button>
        <input type="submit" value="Crear" class="btn btn-outline-success" />
    </div>
</div>}
