﻿@model ProyectoSMP.Models.TipoDeIdentificacion

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit"; }

<h2>Editar</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Tipo de Identificación</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdTipoIdentificacion)

                    <div class="item form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Estado)
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="item form-group">
                        <div>
                            <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Regresar", "Index")</button>
                        </div>
                        <div>
                            <input type="submit" value="Guardar" class="btn btn-outline-success" />
                        </div>
                    </div>
                </div>}

