﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>SMPrats | </title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md bg-dark">
    <div class="container body bg-dark">
        <div class="main_container bg-dark">
            <div class="col-md-3 left_col bg-dark">
                <div class="left_col scroll-view bg-dark">
                    <div class="navbar nav_title bg-dark" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-cog"></i> <span>SMPrats!!</span></a>
                    </div>
                    <br />
                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <br />

                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                                    </ul>
                                </li>

                                @if (User.IsInRole("Admin"))
                                {
                            <li>
                                <a><i class="fa fa-user"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="@Url.Action("Index", "Usuarios")">Usuarios</a></li>
                                    <li><a href="@Url.Action("Index", "TipoDeIdentificacion")">Tipo de Identificación</a></li>
                                </ul>
                            </li>
                                                            <li>
                                                                <a><i class="fa fa-plug"></i> Máquina <span class="fa fa-chevron-down"></span></a>
                                                                <ul class="nav child_menu">
                                                                    <li><a href="@Url.Action("Index", "Maquinas")">Máquinas</a></li>
                                                                    <li><a href="@Url.Action("Index", "AreaDeMaquinas")">Áreas</a></li>
                                                                    <li><a href="@Url.Action("Index", "TipoDeSistema")">Tipo de Sistemas</a></li>
                                                                </ul>
                                                            </li>
                                  }@* Termina el acceso de Admin*@
                                @if (User.IsInRole("Admin") || User.IsInRole("Tecnico") || User.IsInRole("Operador"))
                                {
                            <li>
                                <a><i class="fa fa-wrench"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                            <li><a href="@Url.Action("Index", "MantenimientoDeMaquinas")">Mantenimientos</a></li>
                                                                    <li><a href="@Url.Action("Index", "Cumplimiento")">Lista de Tareas</a></li>
}
                                    <li><a href="@Url.Action("Index2", "Cumplimiento")">Tareas por cumplir</a></li>
                                </ul>
                            </li>
                                            <li>
                                                <a><i class="fa fa-exclamation-triangle"></i> Fallos <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="@Url.Action("Index", "ParoDeMaquinas")">Fallos</a></li>
                                                </ul>
                                            </li>}
                                @if (User.IsInRole("Admin") || User.IsInRole("Almacen"))
                                {
                            <li>
                                <a><i class="fa fa-briefcase"></i> Repuestos <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="@Url.Action("Index", "InventarioDeRepuestos")">Repuestos</a></li>
                                    <li><a href="@Url.Action("Comprar", "InventarioDeRepuestos")">Compras</a></li>
                                </ul>
                            </li>
}
                                @if (User.IsInRole("Admin") || User.IsInRole("Tecnico") || User.IsInRole("Operador")) { 
                            <li>
                                <a><i class="fa fa-calendar"></i> Calendario <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="@Url.Action("Index", "Calendario")">Calendario</a></li>
                                </ul>
                            </li>}
                                @if (User.IsInRole("Admin"))
                                {
                            }
                            </ul>
                        </div>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/production/images/logo.PNG" alt="">@Html.ViewContext.HttpContext.User.Identity.Name
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">                                 
                                    <a class="dropdown-item" href="@Url.Action("Salir", "Login")"><i class="fa fa-sign-out pull-right"></i> Salir</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->


            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <footer>
                <div class="pull-right">
                    © Copyright 2020 todos los derechos reservados
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
