﻿@model ProyectoSMP.Models.Maquina

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Edit"; }

<h2>Editar</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Máquina</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdMaquina)

    <div class="item form-group">
        @Html.LabelFor(model => model.NombreMaquina, "Nombre de Máquina", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreMaquina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreMaquina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.IdTipoSistema, "Tipo de Sistema", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdTipDeSistema", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdTipoSistema, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.IdArea, "Área", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdArea", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Codigo, "Código", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (ViewBag.ErrorCodigo != null)
    {
<div class="alert alert-danger" role="alert">
    @ViewBag.ErrorCodigo
</div>}
    <div class="item form-group">
        @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Proceso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Proceso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Proceso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Cadencia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cadencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cadencia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="item form-group">
        @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <hr />
    <div class="item form-group">
        <div>
            <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Regresar", "Index")</button>
        </div>
        <div>
            <input type="submit" value="Guardar" class="btn btn-outline-success" />
        </div>
    </div>
</div>}

