﻿@model IEnumerable<ProyectoSMP.Models.Maquina>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index"; }

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista de Máquinas</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Lista de Máquinas</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                @if (ViewBag.Message != null)
                {
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>}
                <h6 class="m-0 font-weight-bold text-primary"> @Html.ActionLink("Nueva Máquina", "Create")</h6>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @Html.ActionLink("Ver Todos", "Todos") | @Html.ActionLink("Generar reporte", "Print")
                    <hr />
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>
                                Nombre de Máquina
                            </th>
                            <th>
                                Código
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Proceso
                            </th>
                            <th>
                                Cadencia
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Área
                            </th>
                            <th>
                                Tipo de Sistema
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMaquina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proceso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cadencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaDeMaquina.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDeSistemaDeMaquina.Nombre)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                @Html.Label("Activo") }
            else
            {
                @Html.Label("Inactivo")}
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdMaquina })
                    </td>
                </tr>}

                    </table>

                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

</body>

</html>