﻿@model ProyectoSMP.Models.InventarioDeRepuestos

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Edit"; }

<h2>Editar</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Repuesto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdRepuesto)

    <div class="item form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Requisición, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Requisición, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Requisición, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Maximos, "Máximos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Maximos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Maximos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Minimos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Minimos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Minimos, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (ViewBag.Error != null)
    {
<div class="alert alert-danger" role="alert">
    @ViewBag.Error
</div>}
    <div class="item form-group">
        @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        @Html.LabelFor(model => model.Almacen, "Almacén", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Almacen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Almacen, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="item form-group">
        <div>
            <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Regresar", "Index")</button>
        </div>
        <div>
            <input type="submit" value="Guardar" class="btn btn-outline-success" />
        </div>
    </div>
</div>}


