﻿@model IEnumerable<ProyectoSMP.Models.Cumplimiento>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista de Tareas</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .amarillo {
            background: #feec8d;
        }
        .verde {
            background: #aafeb5;
            background: #bc9fe2;
        }
        .rojo {
            background: #fd9797;
        }
    </style>
</head>
<body id="page-top">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Lista de Tareas</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    @Html.ActionLink("Nueva Tarea", "Create")
                </h6>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @Html.ActionLink("Generar reporte", "Print")
                    <hr />
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>
                                Mantenimiento
                            </th>
                            <th>
                                Comienza
                            </th>
                            <th>
                                Finaliza
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Detalles
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {

                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mantenimiento.NombreOperacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comienza)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Finaliza)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @if (item.Estado == true)
                                    {
                                        @Html.Label("Realizado")
                                    }
                                    else if (item.Estado == false)
                                    {

                                        @Html.Label("Sin Realizar")
                                    }
                                    else
                                    {
                                        @Html.Label("Sin registro")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalles)
                                </td>
                                <td id="color">
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCumplimiento })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $("td").each(function () {
            var value = this.innerHTML;
            if (/amarillo/.test(value)) {
                $(this).parent('tr').addClass('amarillo');
            }
        });
        $("td").each(function () {
            var value = this.innerHTML;
            if (/verde/.test(value)) {
                $(this).parent('tr').addClass('verde');
            }
        });
        $("td").each(function () {
            var value = this.innerHTML;
            if (/rojo/.test(value)) {
                $(this).parent('tr').addClass('rojo');
            }
        });
</script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

</body>

</html>
