﻿@model IEnumerable<ProyectoSMP.Models.ConsultarCumplixUsuario_Result>

@{
    ViewBag.Title = "Index2";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista de Tareas Por Hacer</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Lista de Tareas Por Hacer</h1>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>
                                Nombre Máquina
                            </th>
                            <th>
                                Sección
                            </th>
                            <th>
                                Nombre Operación
                            </th>
                            <th>
                                Número Operación
                            </th>
                            <th>
                                Frecuencia
                            </th>
                            <th>
                                Nombre Mantenimiento
                            </th>
                            <th>
                                Detalles
                            </th>
                            <th>
                                Manual de Mantenimiento
                            </th>
                            <th>
                                Comienza
                            </th>
                            <th>
                                Finaliza
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreMaquina)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Seccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreOperacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroOperacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Frecuencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalles1)
                                </td>
                                <td>
                                    @if (item.URLArchivo != null)
                                    {
                                @Html.ActionLink("Ver Archivo", "Descargar", new { id = item.IdMantenimiento }) }
                                    else
                                    {
                                    <h7>No hay Archivo</h7>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comienza)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Finaliza)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.ActionLink("Realizar", "Realizar", new { id = item.IdCumplimiento })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

</body>

</html>