﻿@model ProyectoSMP.Models.Cumplimiento

@{
    ViewBag.Title = "Realizar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Realizar Tarea</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCumplimiento)
        @Html.HiddenFor(model => model.IdMantenimiento)
        @Html.HiddenFor(model => model.Comienza)
        @Html.HiddenFor(model => model.Finaliza)


        <div class="item form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="item form-group">
            @Html.LabelFor(model => model.Detalles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="item form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Color, new SelectList(ViewBag.ListaColores, "Value", "Text"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="item form-group">
            <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Regresar", "Index2")</button>
            <input type="submit" value="Crear" class="btn btn-outline-success" />
        </div>
    </div>}
